
  <h1>Hello <%= @user.fullname %></h1>
  
  <p>Thank you for signing up on Mon! We hope it will help you improve the management of your finances.</p>

  <p>We are always happy to hear from our customers. So, if you have any questions or suggestions please email us at iwant@mon.com</p>

  <p>Thank you and have a great day.</p>

  <p>Alright toodles!</p>
  <p>The Mon! Team</p>
