<h1>Hello <%= @user.fullname %></h1>

<p>It's your budget, <%= @user.budget.name %>, here. It is Sunday and it is time to add actual values to me. The week is about to start and I would be most appreciative, if I am up to date and able to give you a more accurate picture of your finances.</p>
<p>Spending time to update your budget helps you mentally note where you are and be aware so that you can make even better financial decisions next week because you have more up to date information.</p>
<p>So, what are you waiting for? Click <%= link_to "here", "https://funbudget.herokuapp.com/" %> now to update.</p>
<p>You're the best,</p>
<p><%= @user.budget.name %> and The Mon! Team</p>