/* line 6, /Users/Beorn/WDI/projects/project3/pv1/budgetapp/app/assets/stylesheets/budgets.scss */
#mon-bar, #monSeriesE {
  width: 20rem;
  height: 16rem;
  float: right;
}
/* line 6, /Users/Beorn/WDI/projects/project3/pv1/budgetapp/app/assets/stylesheets/months.scss */
.addcat {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 300;
  height: 100%;
  width: 100%;
  display: none;
}

/* line 17, /Users/Beorn/WDI/projects/project3/pv1/budgetapp/app/assets/stylesheets/months.scss */
.catform {
  width: 20rem;
  height: 16rem;
  margin: 0 auto;
  margin-top: 5rem;
}

/* line 24, /Users/Beorn/WDI/projects/project3/pv1/budgetapp/app/assets/stylesheets/months.scss */
.white-text {
  color: white;
}

/* line 28, /Users/Beorn/WDI/projects/project3/pv1/budgetapp/app/assets/stylesheets/months.scss */
#i-pie, #e-pie {
  height: 15rem;
  width: 15rem;
}

/* line 33, /Users/Beorn/WDI/projects/project3/pv1/budgetapp/app/assets/stylesheets/months.scss */
.disp > li > a {
  font-size: 1rem;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/** {
  font-family: "Circular",Helvetica,sans-serif;
}*/


/*
rem base = 16px
line-height = 27px

google fonts
font-family: 'Muli', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Dancing Script', cursive;
*/


html {
  font-size: 120%
}
body {
  font-family: 'Muli',sans-serif;
  line-height: 1.688;
  width: 50rem;
  margin: 0 auto;
}

header {
  height: 2rem;
}

.sitename {
  font-family: 'Indie Flower', cursive;
  /*font-size: 3rem;*/
}

footer {
  width: 100%;
  height: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  z-index: 100;
}

.after-nav {
}

.argent{
  font-size: 1.1rem; 
}

.close{
  margin-bottom: 0,
}

.alert {
  position: absolute;
  top: 3rem;
  left: 44rem;
  z-index: 100;
}

.jumbotron {
  height: 30rem; 
  background-size: cover; 
  background-image: url('/assets/piggy.png');
}

#intro {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  width: 30rem;
}

#intro > h2 > a {
  font-weight: bold;
}

#intro > p {
  font-family: 'Dancing Script', cursive;
}

.signup {
  background-color: rgba(250,200,200, 0.3);
}

#login-text {
  padding-top: 1rem;
  font-size: 0.9rem;
  width: 20rem;
  height: 100%;
  background-color: rgba(255,255,255, 0.7);
}

.login {
  background-image: url('/assets/purse.png');
  height: 100%;
}

.picdiv{
  margin: 0;
  padding-right: 0;
}

.coins {
  width: 30rem;
  height: 35rem;
  float: right;
}

/*Budgets in budgets.scss*/



/*months in months.scss*/







