/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/** {
  font-family: "Circular",Helvetica,sans-serif;
}*/


/*
rem base = 16px
line-height = 27px

google fonts
font-family: 'Muli', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Dancing Script', cursive;
*/

html {
  font-size: 120%
}
body {
  font-family: 'Muli',sans-serif;
  line-height: 1.688;
  width: 50rem;
  margin: 0 auto;
}

header {
  height: 2rem;
}

.sitename {
  font-family: 'Indie Flower', cursive;
  /*font-size: 3rem;*/
}

footer {
  width: 100%;
  height: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  z-index: 100;
}

.after-nav {
}

.argent{
  font-size: 1.1rem; 
}

.close{
  margin-bottom: 0,
}

.alert {
  position: absolute;
  top: 3rem;
  left: 44rem;
  z-index: 100;
}

/*Budgets*/

#monSeriesI, #monSeriesE {
  width: 20rem;
  height: 16rem;
  float: right;
}


/*.legend table, .legend > div { 
  padding: 2px; 
}

#bar_tooltip { 
  font-size: 13px; 
  position: absolute; 
  display: none; 
  padding: 2px; 
  border: 2px solid; 
  -webkit-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #FFF; 
  opacity: 0.8; }*/

/*months*/

.addcat {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  top: 3rem;
  left: 0;
  z-index: 300;
  height: 100%;
  width: 100%;
  display: none;
}

.catform{
  width: 20rem;
  height: 16rem;
  margin: 0 auto;
  margin-top: 5rem;
}

.white-text {
  color: white;
}

#i-pie, #e-pie {
  height: 15rem;
  width: 15rem;
}





