// Place all the styles related to the months controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





#i-pie, #e-pie {
  height: 15rem;
  width: 15rem;
}

.disp > li > a {
  font-size: 0.8rem;
}
