// Place all the styles related to the sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.site-info {
  margin:0;

  h2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  }

  .article{
  margin: 0 auto;
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 3rem;
  }

}
