<div class="after-navh">
<div class="jumbotron text-center"> <br> <br>
<div id="intro" class="container fluid">
<h1>Welcome to <br>
<span class="sitename">Mon!</span></h1>
<br> 
<div><%= image_tag "sad.png" %> <%= image_tag "neut.png" %> <%= image_tag "happy.png" %></div>

<p>Experience an active and expressive budget</p>
<h2><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %></h2> <br>
</div>
</div>
</div><br>
<div class="container">
  <article id="budget"><br> <br>
  <h2>Do You Budget?</h2>
  <p>Budgeting is the best thing you can do for your wallet. Oh forgot to mention, for yourself as well. It is a wonderful way to be more disciplined with your money. It helps you figure out how much money you are expecting to come in an match that money with expected expenses (or how you plan to spend it.)</p>
  
  <p>Many people find that when they budget it is less likely to over-spend. This is because budgeting is like making a contract with yourself about how to spend your money. This means you get to check up on yourself and keep yourself honest, as it were.</p> 
  
  <p>Budgeting also frees you up to do great and amazing things. I know it may sound counter-intuitive, but it is true. If you have a goal to go on vacation and you want to save up for it, budgeting is a great way to accomplish this. You can budget to save a certain amount every month or week until you reach your goal, which will be better than scrammbling to get money together at the last minute. One more plus, while you are on the vacation you can plan to spend your money well enough that you do not run out or go over your planned vacation-expense.</p>
  <p>So, do you want financial surprises or do you budget?</p>
  </article>

</div>
<div class="container">
  <article id="workings"> <br> <br>
  <h2>How it Works</h2>
  <p>The budget is just a tool, you do all the spending. This website is built to help make your budgeting a breeze. It also gets you actively involved so you become your own money-manager and be more astute at it with each passing month.</p>
  <p>Once you sign up and sign in, you start with a brand-new budget created just for you. You can customize it, give it a fun name perhaps, describe it or just add your favorite quote when you choose to edit it.</p>
  <p>Also the current month is added for you with two default categories that you can edit according to your preferences as well. Your month is divided into two sections, income (at the top) and expenses (at the bottom). You can also add as many categories as you like to the two sections by clicking on the '+' sign. As you fill out your categories you will see values on page change to reflect your change. If you decide you no longer want a category, just expand it and click the 'Delete' link and it is gone.</p>
  <p>To get you involved, there are four periods that help track your actual income or spending as the month progresses. Mon! will email you periodically, on Sundays, to remind you to update your budget with actual amounts. This exercise is intended to get you actively involved in managing your budget and seeing how well you are doing in your monthly budget, so you can make adjustments as needed.</p>

  <p>If there are features you would like, please contact our team at iwant@mon.com</p>
  </article>
</div>
<div class="container">
<article id="about"><br> <br>
  <h2>About Us</h2>
  <p>Economics and Finance have always been our passion, so it is no surprise we are making this budgeting application. Helping people is equally important to us, hence we built this site to do just that. Considering this site combines the things we are passionate about, we are very committed to it and to you.</p>
  
  <p>We are excited to share this with you and hope it helps you meet your financial goals.</p>
  
  <p>Enjoy!</p>
  </article>
</div>
<footer class="footer-nav">
  <p class="text-right">"Beware of little expenses; a small leak will sink a great ship" -Benjamin Franklin</p>
  <p class="navbar-fixed-bottom">&#169<span class="sitename argent">Mon!</span></p>
</footer>