<div class="after-nav container">
<div class="jumbotron text-center"> <br> <br>
<div id="intro" class="container fluid">
<h1>Welcome to <br>
<span class="sitename">Mon!</span></h1>
<br> 
<div><%= image_tag "sad.png" %> <%= image_tag "neut.png" %> <%= image_tag "happy.png" %></div>

<p>Experience an active and expressive budget</p>
<h2><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %></h2> <br>
</div>
</div>
</div><br>
<div class="container">
  <article id="budget"><br> <br>
  <h2>Do You Budget?</h2>
  <p>Budgeting is the best thing you can do for your wallet. Oh forgot to mention for yourself as well. It is a wonderful way to be disciplined with your money by pretty much disciplining your moey. It helps you figure out how much money you are expecting to come in an match that money with expenses (or how you plan to spend it.)</p>
  
  <p>Many people find that when they budget they are less likely to over-spend. This is because budgeting is like making a contract with yourself about how to spend our money. This means you get to check up on yourself and keep yourself honest, as it were.</p> 
  
  <p>Budgeting also frees you up to do great and amazing things. I know it may sound coutner-intuitive, but it is true. If you have a goal to go on vacation and you want to save up for it, budgeting is a great way to accomplish this. You can budget to save a certain amount every month or week until you reach your goal, which is way better than scrammbling to get money together at the last minute. One more plus while you are on the vacation you can plan to spend your money well enough that you do not run out or go over.</p>
  <p>So, do you budget?</p>
  </article>

</div>
<div class="container">
  <article id="workings"> <br> <br>
  <h2>How it Works</h2>
  <p>The budget is just a tool, you do all the spending. This website is built to help make your budgeting a breeze. It also gets you actively involved so you becaome your own money-manager.</p>
  <p>Once you sign up and sign in, you have an empty budget created for you. You can customize it, give it a fun name perhaps. Also the current month is for you with two default categories that you can edit according to your preferences. Your month is divided into two sections, income (at the top) and expenses (at the bottom). You can also add as many categories as you like to the two sections by clicking on the '+' sign. As you fill out your categories you will see values on page change to reflect your change.</p>
  <p>To get you involved, there are four periods to keep track of your actual income or spending as the month progresses. MonMon! will email you periodically, typically on Sunday's to remind you it is time to update your budget. This exercise is intended to get you actively involved in managing your budget and seeing how well you are doing in your monthly budget.</p>

  <p>If there are features you would like to see added, please contact our team at iwant@mon.com</p>
  </article>
</div>
<div class="container">
<article id="about"><br> <br>
  <h2>About Us</h2>
  <p>Economics and Finance have always been our passion, so it is no surprise we are making this budgeting application. Helping people is also very important to us, hence we built this site to do just that. Considering this site combines the things we are passionate about we are very committed to it and to you.</p>
  
  <p>We are excited to share this with you and hope it helps you meet your financial goal and make life that much better.</p>
  
  <p>Enjoy!</p>
  </article>
</div>