<div class="after-nav container">
<div class="jumbotron text-center">
<h1>Welcome to <br><span class="sitename">MonMon!</span></h1>
<p>Experience an active and expressive budget</p>
<h2><%= link_to "Sign Up", new_user_registration_path %></h2>
</div>
</div>
<div class="container">
  <h2 id="budget">Do You Budget?</h2>
  <p>Budgeting is the best thing you can do for your wallet.</p>
</div>
<div class="container">
  <h2 id="workings">How it Works</h2>
  <p>The budget is just a tool, you do all the work.</p>
</div>
<div class="container">
  <h2 id="about">About Us</h2>
  <p>Economics and Finance have always been our passion, so it is no surprise we are making this budgeting application. Helping people is also very important to us, hence we have built this site to do just that. Enjoy!</p>
</div>